@import "../../Styles/varmixin.scss";

.mobile-break {
    display: none;
    @include breakpoint(smaller) {
        display: flex;
    }
}
// c'est un example á mettre en dessous.

// .banniere {
//     display: flex;
//     width: 90%;
//     height: 223px;
//     &--home{
//         background-image: "";
//     }
//     &--about{
//         background-image: "";
//     }
// }

.banner {
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 223px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    background-size: cover;
    border-radius: 0.6rem;
    background-position-y: (50%) ;
    &--home {
        background-image: url("../../assets/home-banner.png");
    }

    &--about {
        background-image: url("../../assets/aboutBanner.png");
    }

    &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.3;
        border-radius: 0.6rem;
    }
    &__title {
        position: absolute;
        margin: 0;
        // line-height: 223px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 38%;
        left: 0;
        color: $secondary-color;
        font-size: 45px;
        @include breakpoint(small) {
            font-size: 35px;
            text-align: left;
        }
    }
}
