@import "../../Styles/varmixin.scss";

.tags{
 margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    min-width: 20%;
    display: flex;
    justify-content: center;

    @include breakpoint(small) {
        padding: 8px;
        font-size: 18px;
    }

    @include breakpoint(smaller) {
        padding: 14px;
        min-width: 1%;
        align-items: center;
        font-size: 12px;
        margin-right: 8px;
    }
    @include breakpoint(smallest) {
        padding: auto;
        min-width: 10%;
        align-items: center;
        
    }

}