@import "../../Styles/varmixin.scss";

.collapse {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;

    @include breakpoint(small) {
        width: 100%;
    }

    &__header {
        align-items: center;
        background-color: $primary-color;
        border-radius: 5px;
        display: inline-flex;
        height: 25%;
        min-height: 70px;
        width: 100%;
        justify-content: space-between;
    }

    &__title {
        font-size: 20px;
        color: $secondary-color;
        margin-left: 20px;
    }

    &__img {
        display: flex;
        justify-content: flex-end;
        height: 30px;
        width: 30px;
        margin-right: 20px;
        transition-duration: 0.8s;

        &.true {
            transform: rotate(-180deg);
        }
    }

    &__img:hover {
        cursor: pointer;
    }

    &__box {
        font-weight: 400;
        display: flex;
        align-items: center;
        color: $primary-color;
        background-color: $thirdly_color;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;

        height: 0px;
        transition: height 1s ease;

        &.true {
            height: 100px;
            @media (max-width: 1440px) {
                height: 100px;
                overflow: auto;
            }
            @media (max-width: 1115px) {
                height: 100px;
            }

            @include breakpoint(medium) {
                height: 240px;
            }

            @include breakpoint(smaller) {
                height: 230px;
            }

            @include breakpoint(smallest) {
                height: 275px;
            }
        }

        &.false {
            height: 0px;
            transition: height 1s ease;
        }
    }
}
.collapseLogement {
    width: 40%;
    @include breakpoint(small) {
        width: 100%;
        margin-bottom: 40px;
    }

    &__header {
        align-items: center;
        border-radius: 5px;
        display: inline-flex;
        height: 25%;
        min-height: 70px;
        width: 100%;
        justify-content: space-between;
        background-color: $primary-color;
    }
    &__list {
        list-style: none;
        font-weight: 400;
        @include breakpoint(smaller) {
            margin-top: 15px;
        }
    }
}
