@import "../../Styles/varmixin.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 40px 50px;
    box-sizing: border-box;
    @include breakpoint(small) {
        padding: 5 25px;
        text-transform: uppercase;
    }
    &__logo {
        @include breakpoint(small) {
            width: 130px;
        }
    }
}
